@import '../variables.scss';

.main {
    .basic-stats {
        margin-bottom: 15px;

        .title {
            font-size: 2rem;
            font-weight: bold;
        }

        .version {
            font-weight: bold;
        }

        .author {
            font-size: 1.1rem;
        }
    }

    .stat-group {
        border: 1px solid $primaryBorder;
        margin-bottom: 15px;
        padding: 5px;
    }

    .stat {
        align-items: center;
        display: flex;
        flex-direction: row;

        .label {
            font-weight: bold;
            width: 150px;
        }

        .value {
            vertical-align: middle;
        }

        .tolerance {
            font-size: 0.8rem;
            margin-left: 10px;
            vertical-align: middle;
        }
    }
}
