@import 'variables.scss';

.page {
    display: grid;
    grid-template-areas:
        "header header"
        "aside main";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

header {
    background-color: $primaryDark;
    color: white;
    font-size: 20px;
    grid-area: header;
    padding: 3px;
}

aside {
    background-color: #ccc;
    border-right: 1px solid $secondary;
    grid-area: aside;
    padding: 3px;
}

main {
    background-color: #eee;
    grid-area: main;
    padding: 0 5px;
}

button.btn {
    padding-bottom: 0;
    padding-top: 0;
}
