.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #1186b8;
    color: white;
    flex: 0 0 auto;
    font-size: 20px;
    padding: 3px;
}

.body {
    display: flex;
    flex-direction: row;
    flex: 1 1;
}

.sidebar {
    background-color: #ccc;
    flex: 20 0 20%;
    padding: 3px;
}

.main {
    background-color: #eee;
    flex: 80 0 80%;
    padding: 3px;
}
