.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #ddd;
    flex: 0 0 auto;
}

.body {
    display: flex;
    flex-direction: row;
    flex: 1 1;
}

.sidebar {
    background-color: #ccc;
    flex: 20 0 auto;
}

.main {
    background-color: #eee;
    flex: 80 0 auto;
}
